body {
  background-color: #121212;
  color: white;
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

/* normal: #121212 */
/* hover: #515151 */
.mainTable {
  background-color: #121212;
}
